<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoInicial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class= "wsmenucontainer">
    <div class="desktoplogo">
      <a href="localhost:3000">
        <img src="https://www.ihabita.cl/imagenes/logo-habita.svg" alt="">
      </a>
    </div><!- codigo para mostrar en todas las ventanas el encabezado usado por la pagina de ihabita ->
    <p class="notice"><%= notice %></p><!- codigo para generar mensajes automaticos ->
    <p class="alert"><%= alert %></p><!- codigo para generar mensajes automaticos ->
    <%= yield %>
  </div>
  </body>
</html>
